#incito zabbix config
[zmeishancfg]
zmsurl = http://10.66.49.8/zabbix/api_jsonrpc.php
zmsuser = admin
zmspasswd =zabbix

[zkunshancfg]
zksurl = http://192.168.43.208/zabbix/api_jsonrpc.php
zksuser = admin
zkspasswd = zabbix

[zsuzhoucfg]
zszurl = http://192.168.1.5/zabbix/api_jsonrpc.php
zszuser = admin
zszpasswd = zabbix

[zxiangyangcfg]
zxyurl = http://192.168.71.5/zabbix/api_jsonrpc.php
zxyuser = admin
zxypasswd = zabbix




[zlycfg]
zlyurl = http://10.66.32.21/zabbix/api_jsonrpc.php
zlyuser = admin
zlypasswd =zabbix

[lyosdbinfo]
dbhost = 10.66.32.18
dbuser = root
dbpass = incito
dbname = nova
dbport = 3306

[lyopenstackinfo]
osusername = admin
ospassword = incito
ostenantname = admin
osauthurl = http://10.66.32.18:35357/v2.0

